<nav class="navbar">
  <div class="navbar-left">
  <%= link_to root_path, class: "navbar-item" do %>
    <%= image_tag "logo.png", class: "top-logoImage" %>
    <span class="top-logo">貯金簿</span>
  <% end %>
  </div>
  <div class="navbar-right">
    <%= render 'devise/shared/dropdown' %>
  </div>
</nav>
<%= render '/devise/shared/notification' %>

