<!--first view-->
<section class="first-view">
  <div class="container">
    <h1 class="firstView-title">
      お金が貯まる！ 家計簿アプリ<br>
      貯金簿
    </h1>
    <div class="firstView-content">
      <%= image_tag "logo3.png", class:"firstView-image" %>
      <%= image_tag "logo.png", class:"firstView-mainImage" %>
      <%= image_tag "logo2.png", class:"firstView-image" %>
    </div>
  </div>
</section>
<section>
  <div class="main-contents">
    <div class="container">
      <h2>貯金簿とは？ 貯金簿の最大の特徴をご紹介します！</h2>
      <div class="introduction">
        <div class="description">
          <h3>1. 目標貯金額が設定できる</h3>
          <p>貯金簿は貯金したい金額を設定できます。
          毎月の収入から支出の合計を計算して残りを貯金額として計算します。目標貯金額はいつでも変更できます。</p>
        </div>
        <div class="description">
          <h3>2. お金の使いすぎを防止してくれる</h3>
          <p>お金の管理場所毎に自分で使って良い金額を設定できます。
          例えばクレジットカードの上限金額を3万円として設定してその金額に近くなると、お知らせしてくれます。</p>
        </div>
        <div class="description">
          <h3>3. 種類別にお金の管理ができる</h3>
          <p>現金、クレジットカード、口座引き落とし、証券口座、電子マネーなど種類別に入力して管理することができます。
          それぞれ種類別に管理したい方におすすめです。</p>
        </div>
      </div>
    </div>
  </div>
</section>
