<% provide(:title, "#{@location.location_name}の月次収入") %>
<div class="monthly-container">
  <div class="container">
    <div class="monthly-header">
      <h1><%= "#{@location.location_name}の月次収入" %></h1>
      <%= link_to "戻る", :back, class: "button is-light is-info" %>
    </div>
    <% if @monthly_incomes.present? %>
      <%= column_chart @monthly_incomes %>
    <% else %>
      <p>月次の収入データはありません。</p>
    <% end %>
  </div>
</div>
